.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  background: rgba(red, green, blue, alpha);
}

.navbarLi {
  float: left;
}

.navbarLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbarLi a:hover {
  background-color: #111;
}

.navbar {
  border-color: black;
  border-width: 50px;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
}

.imgNav {
  width: 25%;
  float: left;
  max-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.backimg {
  margin-bottom: 100px;
  position: relative;
}

.backimg .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}
.backimg .after {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.backimg img {
  width: 100%;
  max-height: 100%;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.textoMeio {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
}

.solutionsText {
  font-family: "Open Sans", sans-serif;
  transform: translate(0);
}

.about {
  margin-bottom: 70px;
}

.h1Blue {
  color: #007bff;
  font-size: 40px;
  font-weight: 900 bold;
}

.subAbout {
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 20%;
  padding-right: 20%;
}

.h3Title {
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-size: 1.75rem;
}

.primeiraCaixa {
  display: flex;
  margin-bottom: 10em;
}

.imgBox1 {
  margin-top: 10px;
  padding-left: 90px;
  max-width: 50%;
  flex: 0 0 50%;
}

.img1 {
  width: 500px;
  height: 85%;
  min-height: 300px;
  vertical-align: middle;
  object-fit: cover;
}

.imgFit {
  width: 25%;
  max-height: 100%;
  margin-bottom: 0.2rem;
  vertical-align: middle;
}

.imgFitBoss {
  width: 30%;
  height: 20%;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

.text1 {
  text-align: left;
  padding-right: 50px;
  flex-grow: 1;
}

.descP {
  color: gray;
}

ul {
  list-style-type: none;
}

.tick {
  margin-right: 10px;
}

.sideDivs {
  font-family: "Open Sans", sans-serif;
  transform: translate(0);
}

.sideUl {
  padding: 0;
  color: gray;
}

.sideLeft {
  max-width: 50%;
  flex: 0 0 50%;
}

.sideRight {
  text-align: center;
  flex-grow: 1;
}

.sideLi {
  padding: 0;
}

.resBoss {
  display: flex;
}

.bossMargin {
  margin-bottom: 60px;
}

.imgBoss {
  object-fit: cover;
}

/* Contact Form */
.containerWide {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background: #f8f9fa !important;
}

.titleContainer {
  margin-bottom: 3rem !important;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.titleContact {
  text-align: center !important;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.formContainer {
  background: #fff;
}

.iconHolder {
  display: flex;
  justify-content: space-around;
  margin-right: 130px;
}

.contactBox {
  width: 300px;
}

.iconContact {
  font-size: 36px;
  color: #007bff;
}

.iconText {
  color: gray;
  font-weight: bold;
}

/* ACTUAL CONTACT FORM */
.form {
  background: #fff;
  padding: 3rem !important;
}

.h2form {
  color: #000;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: left;
}

.form-group {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formInput {
  height: 43px;
  border-radius: 30px;
  width: 100%;
  font-size: 1rem;
  color: #495057;
  background-clip: padding-box;
  padding-left: 15px;
  border: 1px solid gray;
}

.formInputTextArea {
  border-radius: 30px;
  width: 100%;
  font-size: 1rem;
  color: #495057;
  background-clip: padding-box;
  padding-left: 15px;
  border: 1px solid gray;
  padding-left: 15px;
  padding-top: 15px;
}

.buttonForm {
  display: inline-block;
  background: #007bff;
  border-color: #007bff;
  cursor: pointer;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff !important;
  text-align: center;
}

/* End Contact Form */

.footer {
  padding: 6em;
  background: #343a40;
}

.footer-heading {
  font-size: 16px;
  color: #fff;
}

.footer p {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 150px 0 150px;
}

/* generic flex-box center aligned*/
.footerFlex {
  display: flex;
  justify-content: center;
}

/* ALERTS */
.alert {
  padding: 20px;
  background-color: #2196f3;
  color: white;
  margin-bottom: 15px;
  margin-top: 30px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* media queries */
@media screen and (max-width: 700px) {
  .primeiraCaixa {
    flex-direction: column;
  }

  .img1 {
    width: 100%;
    height: auto;
  }
}
